*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	outline: none;
}
img {
	display: block;
	width: 100%;
	max-width: 100%;
}
header:after, section:after, footer:after ,.container:after{
	content: "";
	display: table;
	clear: both;
	
}

header {
	position: sticky;
	background: #6E9381;
	top:0;
}
body{
	background: #6E9381;
}
/*==============================Общее=====================*/



.container*{
	margin: 0 ;
	padding: 0 ;
}

.ava{
	font-size: 3vw;
	color: white;
	display: flex;
	justify-content:center;
}
#menu_all {
	margin-top: 10px;
	display: flex;
	justify-content:center;
	background: #6E9381;
	max-width: 100%;
}
#menu_all >  li a {
 display: flex;
 justify-content:center;
 background: #ececed;
 padding: 15px 0% 15px 0%;
 font-size: 1.1vw;
 color: #454547;
 text-decoration: none;
 text-transform:uppercase;
 white-space: pre;
 border-left: 1px solid #b2b3b5;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.2s ease;
 text-align: center;
}  
#mark{
	border-right:  1px solid #b2b3b5;
}
#menu_all >li  :hover{
	background: #577C6A;
    color: #ffffff;
    transition: all 0.2s ease;
}
#menu_all li:hover>ul{
	display: flex;
	flex-direction: column;
}

.podmenu  {
	position: absolute;
	display: none;
}
#menu_all >li>ul>li>a{
	padding-left:12%;
	padding-right:12%;
}
#mainbut{
	background: #6E9381;
}



.againmenu {
	display: none;
	position: relative;
	float: right;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	background: #30292A;
	cursor: pointer;
}
.againmenu span {
	display: block;
	position: absolute;
	top: 19px;
	left: 8px;
	right: 8px;
	height: 2px;
	background: white;
}
.againmenu span:before, .againmenu span:after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
}
.againmenu span:before {
	top: -10px;
}
.againmenu span:after {
	bottom: -10px;
}
/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
#menu_all.active {
	max-height: 300px;
}
/*=========================================Конец головы*=======================================*/
#div2{
	background-image: url('images/index/div2fon.jpg')  ;
	background-size: 100% 100%;
	max-width: 100%;
}
#wr {
	font-family: "Times New Roman";
	font-size: 4vw;
	color: white;
	text-align: center; 
	padding-top: 17%;
}

#wr1{	
	font-family: "Times New Roman";
	font-size : 2vw;
	padding: 2% 20% 17% 20%;
	color: white;
	text-align: center; 
}

#div3{
	display: flex;
	justify-content: space-between;
	height: auto;
	width: 100%;
	background-size: 100% 100%;
	background-color: #6E9381;
	padding:  5% 5% 5% 5%;
}
#div31{
	background-image: url("images/index/fondiv3.jpg");
	background-size: 100% 100%;
	max-width: 100%;
	padding:  20% 20% 20% 20%;
	float: left;
	margin-right: 5%;
}
}

#div32{
    padding-left: 10%;
    padding-top:5%;
	background-size: 100% 100%;
		
}

#div3wr{
	font-family: "Times New Roman";
	font-size: 4vw;
	color: white;
	margin: 0;
	padding-top:5%;
}

#div3wr1{
	font-family: "Times New Roman";
	font-size:1.5vw;
	color:white;
	margin: 0;
	padding:1% ;
}
#div4{
	background-image: url("images/index/citata.jpg");
	max-width: 100%;
	background-size: 100% 100% ;
	border-radius: 150px 150px 150px 150px;

}

.citata1{
	font-size: 3vw;
	color:#6E9381;
	margin: 0;
}
#div41{
	padding-top:7%;
}
#div42{
	padding-bottom: 7%;
}
#div5{
	display: flex;
	justify-content: center;
	max-width: 100%;
	background-color:#6E9381;
	width: 100%;
	flex-grow:1;
	font-family: "Times New Roman";
}
.div5{
	padding: 5% 5% 5% 5%;
	max-width: 100%;
	width: 100%;
	white-space: nowrap;

	/*padding-left: 5%;
	padding-top:3%;*/
}

.div521{
	font-size: 1.7vw ;
	text-align: center;
	color: white;
}
.div522{
	font-size: 1vw ;
	text-align: center;
	color: white;
	padding-bottom: 7%;
}
.but {
	text-align: center;
	background-color:black;
	margin: 5% 10% 5% 10%;
	border:3px solid black;
	border-radius: 20px 20px 20px 20px;
	/*padding:20% ;*/
}
.but1{
	text-align: center;
	color: white;
	font-size: 1.8vw;	
}
.but:hover{
	background-color:#6E9381;
}
#div6{
	font-family: "Times New Roman";
	text-align: center;
	font-size: 2vw;
	color:#6E9381; 
	background-color:white;
	padding-top:5%;
	padding-bottom: 5%;
}
#div61{
	display: flex;
	min-width: 100%;
	width: 100%;

}
.port{
	display: flex;
	width: 100%;
	float: left;
	margin: 0;
	padding:0;
}

#div7{
	font-family: "Times New Roman";
	background: #6E9381;
	display: flex;
	justify-content: center;
	font-size: 1vw;
}
.contact{
	padding-right: 30%;
	padding-top: 5%; 
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color:white;
	 white-space: nowrap;
}
#div711{
	font-size: 2.5vw;
}
#div71 img{

	width: 50px;
	height: 50px;
	//*margin: 30% 30% 30% 30%;*/
}
#div71 a{
	color:white ;
}
#div72{
	padding:2% 2% 2% 2%;
}
footer{
	font-family: "Times New Roman";
	color:white ;
	background: #6E9381;
	text-align: center;
	font-size: 1vw;
}
footer a{
	color:#C3C4C9 ;
}

#toTop {
	width: 40px;
	opacity: 0.5;
	border:0;
	border-radius:50%;
	background:white;
	text-align:center;
	padding: 10px 5px 5px 5px;
	position:fixed;
	bottom:40px; /* отступ кнопки от нижнего края страницы*/
	right:40px;
	cursor:pointer;
	display:none;
	font-size: 30px;
}
#toTop:hover {
	opacity: 1;
}










@media (max-width: 800px) {
.againmenu {
	display: block;
}
header {
	padding: 12px 0;
}
#menu_all {
	max-height: 0;
	background: white;
    position: absolute;
	overflow: hidden;
	top: 63px;
    right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	float: none;
    z-index: 3;
}
#menu_all li {
	display: block;
    text-align: center;
	border-bottom: 1px solid #EBEBE3;
	margin-right: 0;
}
#div3{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#div5{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#div61{
	display: flex;
	flex-direction: column;
}
#div7{
	align-items: center;
	background: #30292A;
	flex-direction: column;
	display: flex;
	justify-content: center;
}

@media(max-width: 480px) {
.logo {
    float: none;
    margin: 0 auto 15px;
    display: table;
}
.logo span {
    margin: 0 2px;
}
#menu {
	top: 120px;
}
#searchform {
	float: left;
	margin-left: 0;
}
.post-footer {
    border-top: none;
	border-bottom: none;
	text-align: center;
}
.post-social {
	position: static;
	text-align: center;
	transform: none;
	margin-top: 20px;
}
.widget-post-title {
	font-size: 1.2em;
}
.footer-col {
	float: none;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}
.footer-col:last-child {
    text-align: center;
	margin-bottom: 0;
}
}